#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_DILEMMA_RIGHT
    bool "Dilemma right"
    depends on SOC_RP2040
    select ZMK_USB
    select RP2_FLASH_W25Q080

config BOARD_DILEMMA_LEFT
    bool "Dilemma left"
    depends on SOC_RP2040
    select RP2_FLASH_W25Q080

