#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_DILEMMA_LEFT
    select SOC_RP2040
    select RP2_FLASH_W25Q080
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE
